html, body {
  background: #f8f5f1;
  color: #433a2d;
}

body.is-super-admin {
  border: 4px dashed #ff4040;
}

body {
  font-family: Heveletica,Arial,sans-serif;
  background-image: url('../images/bg-texture.png');
}

a {
  color: #122b76;
}

#main {
  box-shadow: 10px 10px 5px #f0f0f0;  
}

#navigation,
#footer {
  background: #4b4233;
  color: #fff;
  border: 1px solid #292011;
  border-right: none;
  border-left: none;
}

#navigation a,
#footer a {
  color: #fff;
}

#content {
  background: #f6f7f9;
}

#main {
  background: #f6f6f7;
  border: 1px solid #cccccc;
}

#content .comment .permalink {
  text-transform: lowercase;
}

body.front #content .links {
  font-size: 0.8em;
}

.marker {
  font-weight: bold;
}
.marker.marker-new {
  color: red;
}

.marker.marker-updated {
  color: orange;
}

.custom-body-summary {
  border: 1px solid #cccccc;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
}

h2.summary-title {
  margin-bottom: 5px;
}

.custom-body-summary p {
  margin-top: 0;
  margin-bottom: 0;
}

table tr td,
table tr th {
  padding: 4px 10px;
}

.view-users-list table tr td,
.view-users-list table tr th {
  font-size: 10px;
}

.view-users-list tr.user-active {
  background-color: #ccffcc;
}

.view-users-list tr.user-blocked {
  background-color: #ffcccc;

}

.view-users-list span.user-active {
  color: green;
}

.view-users-list span.user-blocked {
  color: red;
}

.view-activity-feed .views-row {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
